# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
# required for tests
!image.tar.gz
*.iso
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite
*/target/**
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
bin/
.flattened-pom.xml
pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Uploaded content ###
uploaded-content/
resized-files/

### Generated CSS Files ###
*.css
# Because we want to preserve library css files
!*.min.css
# Because this file is not migrated to Sass
!featured-app-organisation-component.css 
*.css.map

apps-ui/node_modules/